@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

.container-box {
  padding: 0 15px;
  background-color: black;
  color: white;
  padding-top: 2%;
}

.header-title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* анимация смещения и изменения цвета текста label */
}

.header-title__box .img {
  width: 100%;
}

.header-title__box .header-title__title {
  padding-left: 10%;
  padding-left: 0px;
  text-align: center;
}

.header-title__box .header-title-tit {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

.header-title__box .header-title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  line-height: 1.5;
}

.header-title__box .header-title__button {
  width: 60%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.header-title__box .header-title__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title__box .header-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.header-title__box .header-title__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  padding-top: 3%;
}

.header-title__box p, .header-title__box h2, .header-title__box h3 {
  margin: 0;
}

@media (max-width: 1000px) and (min-width: 686px) {
  .header-title__box .header-title-tit {
    font-size: 40px;
    padding-top: 50px;
  }
  .header-title__box .header-title-tit h2 {
    margin: 0;
  }
  .header-title__box .header-title__txt {
    margin-bottom: 0px;
    padding-top: 60px;
    width: 60vw;
  }
}

@media (max-width: 685px) and (min-width: 300px) {
  .header-title__box .header-title-tit {
    font-size: 30px;
    padding-top: 50px;
  }
  .header-title__box .header-title-tit h2 {
    margin: 0;
  }
  .header-title__box .header-title__txt {
    margin-bottom: 0px;
    padding-top: 60px;
    width: 60vw;
  }
}

.header-title__box .modal-window {
  display: inline-block;
}

.header-title__box .modal-window > .modal-trigger {
  display: none;
}

.header-title__box .modal-window > .modal-trigger ~ .modal-overlay {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.96);
}

.header-title__box .modal-window > .modal-trigger ~ .modal-container {
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 110;
  position: fixed;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-title__box .modal-window > .modal-trigger:checked ~ .modal-overlay,
.header-title__box .modal-window > .modal-trigger:checked ~ .modal-container {
  opacity: 1;
  visibility: visible;
}

.header-title__box .btn-modal {
  color: black;
  cursor: pointer;
  line-height: 3rem;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header-title__box .btn-modal:hover {
  background-color: #979797;
}

.header-title__box .modal-content .modal-content-header,
.header-title__box .modal-content .modal-content-body {
  padding: 1rem 2rem;
}

.header-title__box .modal-content .modal-content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-title__box .modal-content .modal-content-footer .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  text-align: center;
}

.header-title__box .modal-content .modal-content-footer .item.action {
  cursor: pointer;
}

.header-title__box .header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title__box label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

.header-title__box label .label-text {
  color: black;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-title__box label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  margin-top: 10px;
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.header-title__box label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 200px;
}

.header-title__box label input:focus {
  max-width: 100%;
  width: 400px;
}

.header-title__box label input:valid + .label-text {
  font-size: 13px;
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.header-title__box button {
  background: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-title__box button:hover,
.header-title__box button:focus {
  background-color: #c5c5c5;
  color: #333333;
}

@media (max-width: 1100px) and (min-width: 686px) {
  .header-title__box .btn-modal {
    margin-top: 40px;
  }
}

@media (max-width: 685px) and (min-width: 300px) {
  .header-title__box .btn-modal {
    margin-top: 40px;
  }
}

@media (max-width: 495px) {
  .header-title__box .btn-modal {
    font-size: 20px;
    line-height: normal;
  }
}
/*# sourceMappingURL=index.css.map */