.container-fluid {
background-color: black;
color: white;
padding-top: 2%;
.footer__row {
    border-top: 1px solid white;
    padding: 2% 0;
    .footer__social{
        text-align: right;
        padding: 0;
    }
.footer__mail{
    padding: 0;
}
    .footer__link{
        margin-left: 2%;
    }
}
}
