.event {
      background-color: black;
}
.event {

		// .event__container

		&__container {
                  display: flex;
                  flex-direction: column;
                  max-width: 1275px + 30;
                  padding: 0 15px;
                  margin: 0 10%;
                  overflow: hidden;
                
		}
}
.title {

		// .title__row

		&__row { 
                  display: flex;
                  justify-content: center;
                  margin: 5% 0% 5% 0%;

		}

		// .title__row-title

		&__row-title {
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 6vw;
                  line-height: 1em;
                  color: #FFFFFF;
                  
		}
}
.event1 {

		// .event1__row

		&__row {
                  display:flex;                                
		}

		// .event1__column1

		&__column1 {
                  flex:0 1 100%;
                  margin:2% 2% 2% 0%;

		// .event1__column2

		&__column2 {
                  flex:0 1 100%;
                  margin:2% 0% 2% 2%;
		}

		// .event1__title

		&__title {

                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 2.2vw;
                  line-height: .5em;
                  color: #FFFFFF;
		}

		// .event1__text

		&__text {
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 1.8vw;
                  line-height: 1.2em;
                  color: #FFFFFF;
                  padding-top: 10%;
                  text-align: left;
		}

            
            &__text p:last-child {
                  margin-bottom: 0%;
                }

                // .event1__btn
            &__btn{
            background-color: white;
            border: 2px solid black;
            border-radius: 5%;
            color: black;
            padding: 2% 2%;
            text-align: center;
            display: inline-block;
            font-size: 1.6vw;
            margin: 3% 0%;
            cursor:crosshair;
            }

            &__image{
                  width: 40px, 
                  height: 30px; 
            }

      }

.btn {
      margin-top: 5%;   
}
      
.event2 {

		// .event2__row

		&__row {
                  display: flex;
		}

		// .event2__column1

		&__column1 {
                  flex:0 1 100%;
                  margin:2% 2% 2% 0%;                 
		}

		// .event2__title

		&__title {
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 2.2vw;
                  line-height: .5em;
                  color: #FFFFFF;
		}

		// .event2__text

		&__text {
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 1.8vw;
                  line-height: 1.2em;
                  color: #FFFFFF;
                  padding-top: 10%;
                  text-align: left;
		}

            &__text p:last-child {
                  margin-bottom: 0%;
                }

		// .event2__column2

		&__column2 {
                  flex:0 1 100%;
                  margin:2% 0% 2% 2%;
		}
}
/* unvisited link*/
a:link {
      color: blue($color: #000000);
      text-decoration: none;
    }
    
    /* visited link*/
a:visited {
      color: red;
    }
    
    /* mouse over*/
a:hover {
      color: blue($color: #000000);
    }
    
    /* selected link*/
a:active {
      color: green;
    }

      